//container - area - box - block - content
$fcolor100: #333333;
$fcolor200: #444444;
$fcolor300: #666666;
$fcolor400: #888888;
$fcolor500: #999999;

.body {
    display: flex;
    justify-content: center;
}

@mixin inputText() {
    padding-left: 0.5em;
    border: 2px solid #b8b8b8;
    background-color: #e6e6e6;
    text-align: left;
    border-radius: 3px;
    box-sizing: border-box;
    height: 30px;
    width: 100%;

    &:hover {
        border: 2px solid #757575;
    }
}

.header {
    display: flex;
    justify-content: center;

.header-container {
    max-width: 750px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    .home-area {
        text-align: left;
        margin: 0 10px;
    }
    .modal-area {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100px;
        margin: 0 10px;
    }

    img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        &:hover {
            filter: drop-shadow(0 0 10px #fd4562);
        }
    }

    .modal {
        $width: 100px;
        $height: 80px;
        width: $width;
        height: $height;
        position: absolute;
        top: 50px;
        right: 25px;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.12);    
        background-color: transparent;
        border-radius: 5px;

        &::before {
            position: absolute;
            content: "";
            border-bottom: calc($height/6) solid #e6e6e6;
            border-left: calc($width/12) solid transparent;
            border-right: calc($width/12) solid transparent;
            left: calc($width*5/12);
            top: calc($height/-6);
        }

        div {
            width: $width;
            height: calc($height/2);
            box-sizing: border-box;
            background-color: #e6e6e6;
            border-top: 0;
            text-align: center;
            line-height: calc($height/2);
            color: $fcolor100;
            font-size: 13px;

            &:hover {
                cursor: pointer;
                background-color: #b8b8b8;
            }
        }

        .top-content {
            border-radius: 5px 5px 0 0;
            border-bottom: 0.5px solid white;
        }

        .bottom-content {
            border-radius: 0 0 5px 5px;
        }
    }
}
}



.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 100px;
    align-items: center;

    & > * {
        margin-top: 10px;
    }

    h1 {
        color: $fcolor100;
        font-size: 60px;
        font-weight: 500;
    }

    h2 {
        color: $fcolor100;
        font-weight: 900;
    }

    h3 {
        color: $fcolor300;
    }

    p {
        color: $fcolor500;
        
        u {
            color: $fcolor400;
            font-weight: 500;
        }
    }

    .lock-icon {
        height: 120px;
        width: 120px;
        overflow: hidden;
        img {
            margin: -55px 0 0 -50px;
            height: 220px;
            width: 220px;
        }
    }

    .question-icon {
        height: 120px;
        width: 120px;
        margin-bottom: 20px;
    }

    .input-text {
        @include inputText();
    }
    
    .input-code {
        @include inputText();
    }

    .input-password {
        text-align: right;
        width: 100%;
        height: 30px;

        img {
            position: relative;
            top: 5px;
            right: 5px;
            width: 25px;
            height: 20px;
            z-index: 2;

            &:hover + input{
                border: 2px solid #757575;
            }
        }

        input {
            position: relative;
            top: -25px;
            z-index: 1;

            @include inputText();
            border-radius: 3px;
        }
    }

    .input-box {
        display: flex;
        height: 30px;
        width: 100%;

        .red-star {
            .red-star-icon {
                width: 12px;
                height: 12px;
            }
        }

        .name-text {
            text-align: left;
            font-weight: 600;
            font-size: 12px;
            padding: 4px 1px;
            color: $fcolor200;
        }

        .input-text {
            @include inputText();
        }

        .input-select {
            @include inputText();
            text-align: left;
        }

        .input-textarea {
            @include inputText();
            height: 100%;
            text-align: left;
            font-family: "Malgun Gothic";
            resize: none;
            overflow-y: scroll;
        }

        .input-button-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .input-button {
                @include inputText();
                height: 25px;
                width: 60px;
                font-size: 11px;
                font-weight: 600;
                text-align: center;
                color: #666666;
                cursor: pointer;
            }
        }
    }

    .code-box {
        display: flex;
        justify-content: center;
        margin-top: 30px;
        
        input {
            width: 30px;
            font-size: 30px;
            border: 0;
            border-bottom: 2px solid $fcolor400;
            margin: 0 3px;
            text-align: center;
        }
    }

    .reset-box {
        color: $fcolor300;
        text-align: right;
        width: 100%;
        font-size: 16px;

        .reset-button {
            margin: 0 60px;
            cursor: pointer;

            &:hover {
                font-weight: 900;
                color:$fcolor100
            }
        }
    }
    
    .login-button {
        border: 2px solid #90c9a3;
        background-color: #aff4c6;
        font-weight: bold;
        height: 30px;
        width: 100%;
        border-radius: 3px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;

        &:hover {
            border: 2px solid #73a082;
            background-color: #90c9a3;
        }
    }
    
    .register-area {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 30px;
        font-size: 17px;

        & > span {
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
        }
    }

    .next-button {
        margin-top: 70px;
        border-radius: 15px;
        width: 100px;
        height: 40px;
        background-color: #14ae5c;
        border: 3px solid #108b4a;
        color: #ffffff;
        font-weight: bold;
        cursor: pointer;

        &:hover {
            background-color: #8cc39e;
            border: 3px solid #85e0a3;
        }
    }
}